export ANP_LLM_URL=
export ANP_LLM_API_KEY=
export ANP_LLM_MODEL=

export ANP_EMAIL_TO=
export ANP_EMAIL_FROM=
export ANP_EMAIL_HOST=
export ANP_EMAIL_PORT=
export ANP_EMAIL_USERNAME=
export ANP_EMAIL_PASSWORD=

export ANP_DEBUG_MOCK_RSS=false
export ANP_DEBUG_MOCK_LLM=false
export ANP_DEBUG_MOCK_SKIP_EMAIL=false
export ANP_DEBUG_OUTPUT_BENCHMARK=false

# At midnight
export ANP_CRON_SCHEDULE="0 0 * * *"

[[ -f .envrc.local ]] && source .envrc.local

